<h4>Finalizar compra</h4>
<div class="formulario">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Nome">
  </div>
  <div class="form-group">
    <input class="form-control" type="email" placeholder="E-mail">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Numero do cartao">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" placeholder="mm/aaaa">
      </div>
      <div class="col">
        <input class="form-control" type="text" placeholder="CVV">
      </div>
    </div>
  </div>
  <div class="form-group">
      <button class="btn btn-info btn-block">Finalizar</button>
    </div>
  </div>